<% if @future_events.empty? %>
  <div class="event-container-dashboard">
    <h1>Il n'y a pas d'évènements à venir</h1>
    <div class="dashboard-buttons">
      <%= link_to new_event_path, class: "btn btn-green btn__theme btn-desktop", id: "new-event" do %>
        <div class="btn__content">
          <%= image_tag('new-event.svg', alt: 'Nouvel Évènement') %>
          Nouvel évènement
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <% @future_events.each do |event| %>
    <div class="event-container-dashboard">
      <%= link_to event_path(event) do %>
        <h2>
          <% day = event.date.strftime("%d") %>
          <% year = event.date.strftime("%Y") %>
          <%= event.name %> - le <%= day %> <%= french_month(event.date) %> <%= year %>
        </h2>
      <% end %>

      <div class="event-dashboard-description">
        <div><%= event.description %></div>
      </div>

      <div class="dashboard-buttons">
        <%= link_to event_path(event), class: "btn btn-dashboard btn__theme btn-green" do %>
          <div class="btn__content">
            <%= image_tag('eye.svg', alt: 'Voir +') %>
            Voir en détails
          </div>
        <% end %>

        <%= link_to "#", class: "btn btn-dashboard btn__theme btn-purple" do %>
          <div class="btn__content">
            <%= image_tag('share.svg', alt: 'Partager') %>
            Partager
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
