<% if @events.empty? %>
  <div class="event-id">
    <h1>Il n'y a pas d'évènements à venir</h1>
    <div class="event-id-buttons">
      <%= link_to new_event_path, class: "btn btn-green btn__theme btn-small btn-desktop", id: "new-event" do %>
        <div class="btn__content">
          <%= image_tag('new-event.svg', alt: 'Nouvel Évènement') %>
          Nouvel évènement
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <% @future_events.each do |event| %>
    <div class="event-id">
      <%= link_to event_path(event) do %>
        <div class="title-event">
          <h2>
            <% day = event.date.strftime("%d") %>
            <% year = event.date.strftime("%Y") %>
            <%= event.name %>, le <%= day %> <%= french_month(event.date) %> <%= year %>
          </h2>
          <% if event.recurrent == true %>
            <div class="event-infos">
              <h4> Évènement annuel </h4>
            </div>
          <% end %>
        </div>
      <% end %>
      <% if event.url.present? %>
        <div class="url">
          <% url = event.url.gsub(/https?:\/\/(www\.)?/, "") %>
          <%= link_to event.url, target: :_blank do %>
            <%= image_tag('link.svg', alt: 'Icon') %>
            <%= url %>
          <% end %>
        </div>
      <% end %>
      <% if event.description.present? %>
        <div class="description">
          <h4> Mémo </h4>
          <%= event.description %>
        </div>
      <% end %>
      <div class="event-id-buttons">
        <%= link_to event_path(event), class: "btn btn-small btn__theme btn-green" do %>
          <div class="btn__content">
            <%= image_tag('eye.svg', alt: 'Voir +') %>
            Voir en détails
          </div>
        <% end %>
        <%= link_to "#", class: "btn btn-small btn__theme btn-purple" do %>
          <div class="btn__content">
            <%= image_tag('share.svg', alt: 'Partager') %>
            Partager
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
