<div class="navbar">

  <!-- Bouton Back Mobile -->
  <%= link_to :back, class: 'chevron-mobile' do %>
    <i class="fa-solid fa-chevron-left"></i>
  <% end %>

  <div class="navbar-left">
    <%= link_to image_tag('geeft-logo.svg', alt: 'Geeft logo'), root_path %>
    <div class="title"><%= navbar_title %></div>
  </div>

  <% if current_user.nil? %>
    <%= link_to new_user_session_path do %>
      <div class="btn__theme btn-login">
        <div class="btn-green btn btn__content ">
          <%= image_tag('signin.svg', alt: 'User') %>
          Connexion
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="dropdown-menu">
      <details id="menu-details">
        <summary>
          <%= image_tag('menu.svg', alt: 'Menu', class:'menu') %>
        </summary>
        <ul>
          <li>
            <%= link_to dashboard_path do %>
              <%= image_tag('calendar.svg', alt: 'Calendar', class:'menu-items') %>
              Calendrier
            <% end %>
          </li>
          <li>
            <%= link_to user_path(current_user) do %>
              <%= image_tag('user.svg', alt: 'User', class:'menu-items') %>
              Profil
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, data: { turbo_method: :delete } do %>
              <%= image_tag('logout.svg', alt: 'Log-Out', class:'menu-items') %>
              Déconnexion
            <% end %>
          </li>
        </ul>
      </details>
    </div>
  <% end %>
</div>
