<%= render 'shared/navbar_home' %>
<div class="body-container">

  <div class="home-page">
    <% if @user == "guest" %>
    <div class="logged-out-content">
        <div class="content">
            <h1>Make it easy!</h1>
            <p>Simplifiez la gestion de vos événements et offrez le cadeau parfait</p>
            <div class="btn__theme">
              <%= link_to new_user_registration_path, class: "btn__theme btn btn-green" do %>
                <div class="btn__content">
                  <%=image_tag('signup.svg', alt: 'Inscription')%>
                  Inscription
                </div>
              <% end %>
            </div>
        </div>
    </div>

    <!--
      <div class="geeft-presentation">
        <h2 class="home-subtitle">Bienvenue sur geeft, la plateforme pour ne plus se prendre la tête avec les cadeaux</h2>
        <p class="presentation-text">Grâce à geeft, l'appli rend la quête du cadeau parfait super facile. Il suffit de partager quelques infos clés, comme l'âge ou le budget, et hop, Geeft te propose une sélection d'idées personnalisées et originales qui devraient t'inspirer et assurer la joie de tes proches.</p>
      </div>

      <div class="home-buttons">
        <%= link_to new_user_registration_path, class: "btn__theme btn-home btn-green" do %>
          <div class="btn__content">
            <%#= image_tag('signup.svg', alt: 'Inscription') %>
            Inscription
          </div>
        <% end %>
        <%= link_to new_user_session_path, class: "btn__theme btn-home btn-purple" do %>
          <div class="btn__content">
            <%= image_tag('signin.svg', alt: 'Connexion') %>
            Connexion
          </div>
        <% end %>
    </div>
    -->

    <% else %>
       <%= render 'shared/event_home' %>
          <div class="home-buttons">
            <%= link_to dashboard_path, class: "btn btn-home btn__theme btn-green" do%>
              <div class="btn__content">
                <%= image_tag('calendar2.svg', alt: 'Calendrier') %>
                Calendrier
              </div>
            <% end %>

            <%= link_to new_gift_path, class: "btn btn-home btn__theme btn-purple" do %>
              <div class="btn__content">
                <%= image_tag('close-gift.svg', alt: 'Cadeau') %>
                Créer une liste cadeau
              </div>
            <% end %>
          </div>

          <div class="btn-mobile">
            <%= link_to raw("<i class=\"fa-solid fa-gift\"></i>"), new_gift_path %>
          </div>
    <% end %>
</div>
