<div class="body-container bc-home">
<%= render 'shared/navbar_home' %>

  <div class="primary-container">
    <% if @user == "guest" %>
    <div class="logged-out-content">
        <div class="content">
            <h1>Make it easy!</h1>
            <p>Simplifiez la gestion de vos événements et offrez le cadeau parfait</p>
            <div class="btn__theme">
              <%= link_to new_user_registration_path, class: "btn__theme btn btn-green" do %>
                <div class="btn__content">
                  <%=image_tag('signup.svg', alt: 'Inscription')%>
                  Inscription
                </div>
              <% end %>
            </div>
        </div>
    </div>

    <% else %>
       <%= render 'shared/event_home' %>
          <div class="home-buttons">
            <%= link_to dashboard_path, class: "btn btn-home btn__theme btn-green" do%>
              <div class="btn__content">
                <%= image_tag('calendar2.svg', alt: 'Calendrier') %>
                Calendrier
              </div>
            <% end %>

            <%= link_to new_gift_path, class: "btn btn-home btn__theme btn-purple" do %>
              <div class="btn__content">
                <%= image_tag('close-gift.svg', alt: 'Cadeau') %>
                Créer une liste cadeau
              </div>
            <% end %>
          </div>

          <div class="btn-mobile">
            <%= link_to new_gift_path do %>
            <div class="icon-mobile">
                <%= image_tag('close-gift.svg', alt: 'Idées cadeaux') %>
            </div>
            <% end %>
          </div>
    <% end %>
  </div>
</div>
