<div class="body-container">
  <div class="btn-back">
    <%= link_to '< Retour', :back %>
  </div>


  <div class="form-mobile">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <div class="container-inputs">
          <div class="info-user">
            <h2> Email </h2>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="info-user">
            <h2> Mot de Passe </h2>
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="remember-me">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
        </div>

        <div class="btn__theme">
          <%= button_tag(type: 'submit') do %>
            <div class="btn__content btn btn-green">
              <%= image_tag('signin.svg', alt: 'Connexion', class: 'icon') %>
              Connexion
            </div>
          <% end %>
        </div>



      <% end %>
      </div>

    <%= render "devise/shared/links" %>
  </div>
</div>
