<!DOCTYPE html>
<html>
  <head>
    <title>Geeft</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  </head>

  <body>


    <div class="<%= 'no-navbar' if current_page?(root_path) %>">
      <%= render 'shared/navbar' %>
    </div>

    <%= render "shared/flashes" %>
    <%= yield %>
    <%= render "shared/footer" %>
    <%= render "shared/loader" %>
    <script>
      document.addEventListener('click', function(event) {
        const details = document.getElementById('menu-details');
        if (!details.contains(event.target)) {
          details.removeAttribute('open');
        }
      });
    </script>
  </body>
</html>
