<!DOCTYPE html>
<html>
  <head>
    <title>Geeft</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- Open Graph -->
    <meta property="og:title" content="<%= content_for?(:title) ? yield(:name) : 'Geeft' %>" />
    <meta property="og:description" content="<%= content_for?(:description) ? yield(:description) : "Trouve le cadeau parfait" %>" />
    <meta property="og:image" content="<%= content_for?(:image) ? yield(:image) : image_url('geeft-share.png') %>" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:type" content="website" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="<%= content_for?(:title) ? yield(:name) : 'Geeft' %>" />
    <meta name="twitter:description" content="<%= content_for?(:description) ? yield(:description) : "Trouve le cadeau parfait" %>" />
    <meta name="twitter:image" content="<%= content_for?(:image) ? yield(:image) : image_url('geeft-share.png') %>" />
    <meta name="twitter:url" content="<%= request.original_url %>" />
    <%= favicon_link_tag 'favicon-16x16.png' %>
    <%= favicon_link_tag 'favicon-32x32.png' %>
    <%= favicon_link_tag 'apple-touch-icon.png' %>
    <%= favicon_link_tag 'android-chrome-192x192.png' %>
    <%= favicon_link_tag 'android-chrome-512x512.png' %>
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#004643">
    <meta name="theme-color" content="#fff3e1">


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script>
        !function(t,e){var o,n,p,r;e.__SV||(window.posthog=e,e._i=[],e.init=function(i,s,a){function g(t,e){var o=e.split(".");2==o.length&&(t=t[o[0]],e=o[1]),t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}}(p=t.createElement("script")).type="text/javascript",p.async=!0,p.src=s.api_host.replace(".i.posthog.com","-assets.i.posthog.com")+"/static/array.js",(r=t.getElementsByTagName("script")[0]).parentNode.insertBefore(p,r);var u=e;for(void 0!==a?u=e[a]=[]:a="posthog",u.people=u.people||[],u.toString=function(t){var e="posthog";return"posthog"!==a&&(e+="."+a),t||(e+=" (stub)"),e},u.people.toString=function(){return u.toString(1)+".people (stub)"},o="capture identify alias people.set people.set_once set_config register register_once unregister opt_out_capturing has_opted_out_capturing opt_in_capturing reset isFeatureEnabled onFeatureFlags getFeatureFlag getFeatureFlagPayload reloadFeatureFlags group updateEarlyAccessFeatureEnrollment getEarlyAccessFeatures getActiveMatchingSurveys getSurveys getNextSurveyStep onSessionId setPersonProperties".split(" "),n=0;n<o.length;n++)g(u,o[n]);e._i.push([i,s,a])},e.__SV=1)}(document,window.posthog||[]);
        posthog.init('phc_q9GxXT8RmTKQHm1SMRkISelCbeleyyNTSnr8c9EzruM',{api_host:'https://eu.i.posthog.com', person_profiles: 'identified_only' // or 'always' to create profiles for anonymous users as well
            })
    </script>
  </head>

  <body>
    <div class="<%= 'no-navbar' if current_page?(root_path) %>">
      <%= render 'shared/navbar' %>
    </div>
    <%= render "shared/flashes" %>
    <%= yield %>
    <%= render "shared/footer" %>
    <%= render "shared/loader" %>
    <script>
      function closeMenu(event) {
        const details = document.querySelectorAll('.menu-details');
        details.forEach(function(detail) {
          if (!detail.contains(event.target)) {
            detail.removeAttribute('open');
          }
        });
      }
      document.addEventListener('click', closeMenu);
      document.addEventListener('touchstart', closeMenu);
    </script>
  </body>
</html>
